html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFF;
  z-index: 0;
}

h1{
  text-align: center;
  font-family: "Roboto", serif;
}

a {
  color: black;
}

a:link, a:visited {
  text-decoration: none;
  color: black;
}

a:visited {
  color: inherit;
}

a:hover {
  cursor: pointer;
}

.dropdown-menu {
    float: left;
    font-size: 1.25em;
    padding: 0.78em 2em;
    margin: 0;
    background-color: #24b41d;
    color: #FFF;
    position: absolute;
    cursor: pointer;
    font-family: "Roboto", serif;
    opacity: 0.78;
}

.dropdown-content {
    float: left;
    padding: 0.6em 1.36em 0.6em 1.1em;
    background-color: rgba(59, 178, 53, 0.8);
    top: 55px;
    clear: both;
    z-index: 100;
    position: absolute;
    font-family: "Roboto", serif;
}

.dropdown-content h4 {
  margin: 0;
  padding: 0.5em 0;
}

#settings-menu {
  margin: 0;
  cursor: pointer;
}

.le-settings {
  margin-left: 0.5em;
  margin-right: -0.5em;
}

.title-header {
    text-align: center;
    margin: 0;
    padding: 0.56em 0;
    vertical-align: middle;
    background-color: rgba(241, 255, 242, 1.0);
    font-family: "Roboto", serif;
}

.title-header, .dropdown-content {
  box-shadow: 0 5px 25px rgba(110, 110, 110, 0.2);
}

.flashcard-container {
  margin: 5em 0;
}

.flashcard {
  display: flex;
  align-items: center;
  height: 400px;
  width: 650px;
  background-color: #ddd;
  justify-content: center;
  border-radius: 10px;
}

#word {
  position: absolute;
  margin: 0;
  font-size: 16px;
  font-size: 7vw;
  font-family: "Raleway", serif;
  opacity: 0.5;

}

.cardButtons{
    margin: auto;
    min-width: 500px;
    max-width: 60%;
}
#back #skip{
    position: relative;
    float: left;
    background-color: #FFECF5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-weight: 900;
    font-size: 16px;
    border-radius: 4px;
}

#back:hover #skip:hover {
    background-color: #FFBBBB;
}

#skip {
    float: right;
}

#start-button-container {
  position: relative;
  margin: 1.5em 0;
  display: none;    /* this is the thing you're trying to do i guess? */
}

#start-button{
    background-color:#FF8A8A;
    border: none;
    color: white;
    padding: 0.6em 1.2em;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto", serif;
}

#start-button:hover {
    background-color: #FFDEDE;
}

#answer-options-list {
  list-style: none;
  margin: 0.5em 0;
  padding: 0;
  font-family: Roboto, serif;
}

#my-signin2 {
  float: right;
  font-size: 1.25em;
  /*padding: 0.78em 2em;*/
  margin: 0;
  /*background-color: #24b41d; */
  color: #FFF;
  /*position: absolute;*/
  cursor: pointer;
  font-family: "Roboto", serif;
  opacity: 0.78;
}

.options-container {
  background-color: #e5e5e5;
  width: 650px;
  margin: 5px 0;
  padding: 0.39em 0;
  font-size: 1.3em;
  overflow-wrap: break-word;
  border-radius: 10px;
  display: flex;
  cursor: pointer;
}

.optionletters {
  left: 0;
  position: relative;
  align-self: center;
  margin: 0 1em;
}

.answer-options {
  padding: 0.39em 1em;
  border-left: 1px solid gray;
  text-align: left;
}

.correctOption {
  background-color: rgba(96, 198, 93, 0.67);
  border: 3px solid rgba(96, 198, 93, 0.97);
  color: white;
}

.incorrectOption {
  background-color: rgba(204, 51, 66, 0.63);
  border: 3px solid rgba(204, 51, 66, 0.94);
  color: white;
}
