html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFF;
  z-index: 0;
}

h1{
  text-align: center;
  font-family: "Roboto", serif;
}

a {
  color: black;
}

a:link, a:visited {
  text-decoration: none;
  color: black;
}

a:visited {
  color: inherit;
}

a:hover {
  cursor: pointer;
}

.dropdown-menu {
    float: left;
    font-size: 1.25em;
    padding: 0.78em 2em;
    margin: 0;
    background-color: #24b41d;
    color: #FFF;
    position: absolute;
    cursor: pointer;
    font-family: "Roboto", serif;
    opacity: 0.78;
}

.dropdown-content {
    float: left;
    padding: 0.6em 1.36em 0.6em 1.1em;
    background-color: rgba(59, 178, 53, 0.7);
    top: 55px;
    clear: both;
    z-index: 100;
    position: absolute;
    font-family: "Roboto", serif;
}

.dropdown-content h4 {
  margin: 0;
  padding: 0.5em 0;
}

#settings-menu {
  margin: 0;
  cursor: pointer;
}

.le-settings {
  margin-left: 0.5em;
  margin-right: -0.5em;
}

.title-header {
    text-align: center;
    margin: 0;
    padding: 0.56em 0;
    vertical-align: middle;
    background-color: rgba(241, 255, 242, 1.0);
    font-family: "Roboto", serif;
}

.title-header, .dropdown-content {
  box-shadow: 0 5px 25px rgba(110, 110, 110, 0.2);
}

.flashcard-container {
  margin: 5em 0;
}

.flashcard {
  display: flex;
  align-items: center;
  height: 400px;
  width: 652px;
  background-color: #ddd;
  justify-content: center;
  border-radius: 10px;
}

#word {
  position: absolute;
  margin: 0;
  font-size: 6vw;
  font-family: "Raleway", serif;
  opacity: 0.5;
}

#start-button-container {
  position: relative;
  margin: 1.5em 0;
}

#start-button{
  background-color:#FF8A8A;
  border: none;
  color: white;
  padding: 0.6em 1.2em;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto", serif;
}

#answer-options-list {
  list-style: none;
  margin: 0.5em 0;
  padding: 0;
  font-family: Roboto, serif;
}

#my-signin2 {
  float: right;
  margin: 0;
  cursor: pointer;
  font-family: "Roboto", serif;
  opacity: 0.78;
  box-shadow: none;
}

#signOut {
  float: right;
  font-size: 1.25em;
  padding: 0.78em 2em;
  margin: 0;
  background-color: #24b41d;
  color: #FFF;
  cursor: pointer;
  font-family: "Roboto", serif;
  opacity: 0.78;
}

#score {
  float: right;
  clear: right;
  font-family: 'Raleway', serif;
  font-size: 1.3em;
  margin: 0.5em 1.2em;
}

.options-container {
  width: 650px;
}

.options-container, .incorrect-word-listing {
  background-color: #e5e5e5;
  margin: 5px 0;
  padding: 0.39em 0;
  font-size: 1.3em;
  overflow-wrap: break-word;
  border-radius: 10px;
  display: flex;
  cursor: pointer;
  text-align: left;
}

.incorrect-word {
  padding: 0 1em;
}

#wrong-words-list-container {
  font-family: 'Raleway', serif;
  margin: 0 1.7em;
}

#wrong-defs-list-container{
  font-family: 'Raleway', serif;
  margin: 1.5em 1.7em;
  font-size: 1.4em;
}

.optionletters {
  position: relative;
  align-self: center;
  margin: 0 1em;
}

.answer-options {
  padding: 0.39em 1em;
  border-left: 1px solid gray;
}

.smallbutton-container {
  width: 650px;
  margin: 0.9em 0;
  font-size: 1.3em;
  display: block;
  text-align: right;
}

#redo-wrong {
  text-align: center;
}

.smallbutton {
  padding: 0.68em 1em;
  background-color: #3177d8;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  font-family: 'Roboto', serif;
}

#wrong {
  margin-left: 2.5px;
}

#redo {
  margin-right: 2.5px;
}

#nextButtonPlaceholder {
  background-color: #8c8c8c;
  color: black;
  cursor: not-allowed;
  opacity: 0.5;
  border-radius: 10px;
  padding: 0.68em 1em;
}

.correctOption {
  background-color: rgba(96, 198, 93, 0.67);
  border: 3px solid rgba(96, 198, 93, 0.97);
  color: white;
}

.incorrectOption {
  background-color: rgba(204, 51, 66, 0.63);
  border: 3px solid rgba(204, 51, 66, 0.94);
  color: white;
}

#wrong-words-page-header {
  font-family: 'Raleway', serif;
  margin: 0.7em;
}
