body {
  background-color: #efefef;
}

.dropdown-menu {
    float: left;
    font-size: 1.25em;
    padding: 0.3em;
    margin: 0.5em;
    background-color: #FF8A8A;
    color: #FFF;
    position: absolute;
}

.dropdown-content {
    float: left;
    padding: 0.5em 1em;
    border: 1px dashed gray;
    display: block;
    background-color: #FFDEDE;
    top: 0;
}

.title-header {
    text-align: center;
    margin: 0;
    padding: 0.5em 0;
    vertical-align: middle;
}

.flashcard {
  height: 400px;
  width: 650px;
  background-color: white;
}

#default-text {
  position: relative;
  top: 4em;
  text-align: center;
}

.cardButtons{
    margin: auto;
    min-width: 500px;
    max-width: 60%;
}
#back {
    position: relative;
    float: left;
    background-color: #FFECF5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-weight: 900;
    font-size: 16px;
    border-radius: 4px;
}
#back:hover {
    background-color: #FFBBBB;
}
#skip {
    position: relative;
    float: right;
    background-color: #FFECF5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;     font-weight: 900;
    font-size: 16px;
    border-radius: 4px;
}
#skip:hover {
    background-color: #FFBBBB;
}

#start-button-container {
  margin: 0.55em 0;
}

#start-button{
    background-color:#FF8A8A;
    border: none;
    color: white;
    padding: 0.6em 1.2em;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
}


#start-button:hover {
    background-color: #FFDEDE;
}
