<html>
    <head>
        <title>Flashcard Project</title>
        <link href="resources/style.css" rel="stylesheet" type="text/css">
        <script src="resources/code.js"></script>
    </head>
    <body>
        <!-- Apply navigation menu to this -->
        <span class="dropdown-menu">Menu</span>
        <!-- Link to home page -->
        <h2 class="title-header"><a>Dem Cards</a></h2>
        <div class="navigation">
          <nav class="dropdown-content">
            <a>Saved words</a><br>
            <h4><a>Settings</a></h4>
            <div class="le-settings">
                <h4>Difficulty</h4>
                  <span>Elementary</span><br>
                  <span>Intermediate</span><br>
                  <span>Arduous</span>
                <h4>Color</h4>
                  <!-- Add color selection -->
            </div>
          </nav>
        </div>
        <div class= "cardButtons">
            <button type="button" id="back">Back</button>
            <button type="button" id="skip">Skip</button>
        </div>

        <div class="flashcard">
            <h2>Website Name</h2>
            <button type="button" id="start-button">Start</button>
        </div>
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="script.js"></script>
  </body>
</html>
