<html>
  <head>
    <title>Flashcard Project</title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Fira+Sans+Extra+Condensed|Raleway|Zilla+Slab|Roboto" rel="stylesheet">
  </head>
  <body>
    <h2 id="testword"></h2>
    <p id="testdef1"></p>
    <p id="testdef2"></p>
    <p id="testdef3"></p>
    <p id="testdef4"></p>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="resources/script.js"></script>
  </body>
</html>
