<html>
  <head>
    <title>Flashcard Project</title>
    <link href="resources/wrong.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Fira+Sans+Extra+Condensed|Raleway|Zilla+Slab|Roboto" rel="stylesheet">
  </head>
  <body>
    <!-- Apply navigation menu to this -->
    <span class="dropdown-menu">Menu</span>
    <!-- Link to home page -->
    <h2 class="title-header"><a href="/">WTF[rick] is That Word?!</a></h2>
    <nav class="dropdown-content">
      <h4><a href="/saved">Saved words</a></h4>
      <h4 id="settings-menu">Settings</h4>
      <div class="le-settings">
        <h4>Difficulty</h4>
        <span>Elementary</span><br>
        <span>Intermediate</span><br>
        <span>Arduous</span>
        <h4>Color</h4>
      </div>
    </nav>

    <div class="wrong-words">
      {{ words }}
    </div>
    <div class="flashcard-container" align="center">
      <div class="flashcard">
          <span id="word">Text</span>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="resources/wrongwords.js"></script>
  </body>
</html>
